<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    .container{
      height: 500px;
      width: 500px;
      border: 2px solid purple;
      margin-top: 50px;
      margin-left: 400px;
      text-align: center;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>User {{user.id}}</h1>
        <ul>
          <li>{{user.first_name}}</li>
          <li>{{user.last_name}}</li>
          <li>{{user.email}}</li>
          <li>{{user.created_at}}</li>
        </ul>
      <a href="/users/{{ user.id }}/edit">Edit</a> | <a href='/users/{{ user.id }}/delete'>Delete</a>
    </div>

  </body>
</html>
