<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Survey From</title>
    <style media="screen">
      .container{
        height: 500px;
        width: 500px;
        border: 2px solid purple;
        margin-left: 468px;
        margin-top: 75px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form class="" action='survey/result' method="post">
        {% csrf_token %}
        Name: <input class="input" type="text" name="name" value=""><br><br>
        Dojo Location: <select class="input" name="location"><br>
          <option value="seattle">Seattle</option>
          <option value="sanjose">San Jose</option>
          <option value="burbank">Burbank</option>
        </select><br><br>
        Favorite Language: <select class="input" name="favLang"><br>
          <option value="python">Python</option>
          <option value="javascript">JavaScript</option>
          <option value="java">Java</option>
        </select><br><br>
        Comment (optional):<br>
        <textarea name="comment" rows="8" cols="80"></textarea>
        <input type="submit" name="button" value="submit">
      </form>
    </div>
  </body>
</html>
